<mat-toolbar>
    <button mat-icon-button class="header-icon" (click)="opened.set(!opened())">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="header-spacer"></span>
    <button mat-icon-button class="header-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="header-icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" mode="side" opened [style.width]="sidenavWidth()">
      <mat-nav-list>
        @for (item of menuItems(); track item) {  
            <a 
                mat-list-item 
                [routerLink]="item.route" 
                routerLinkActive="selected-menu-item"
                #rla="routerLinkActive"
                class="menu-item">
                    <mat-icon matListItemIcon fontSet="material-symbols-outlined" fontWeight="100">{{item.icon}}</mat-icon>
                    @if(!opened()){
                        <span matListItemTitle>{{ item.label }}</span>
                    }
            </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  
</mat-sidenav-container>