<mat-toolbar>
    <button mat-icon-button (click)="toggleMenu()">
        <mat-icon matListItemIcon fontSet="material-symbols-outlined" fontWeight="100">dentistry</mat-icon>
    </button>
    <h1>{{title}}</h1>
    
    <span class="header-spacer"></span>
    <button mat-icon-button class="header-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="header-icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container autosize="true">
    <mat-sidenav [ngClass]="isOpened ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list>
        @for (item of menuItems(); track item) {  
            <a 
                mat-list-item 
                [routerLink]="item.route" 
                routerLinkActive="selected-menu-item"
                #rla="routerLinkActive"
                class="menu-item">
                    <mat-icon matListItemIcon fontSet="material-symbols-outlined" fontWeight="100">{{item.icon}}</mat-icon>
                    @if (isOpened || isMobile)
                    {
                        <span matListItemTitle>{{ item.label }}</span>
                    }
            </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>