<mat-toolbar>
    <button mat-icon-button class="header-icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="header-spacer"></span>
    <button mat-icon-button class="header-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="header-icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
      <mat-nav-list>
        @for (route of routes; track route) {  
            <a mat-list-item [href]="route.path" class="center-flex">
                <mat-icon fontSet="material-symbols-outlined" fontWeight="fill" class="menu-icon">{{route?.data?.['icon']}}</mat-icon>
                <span mat-line>{{ route.title }}</span>
            </a>
        }
      </mat-nav-list>
    </mat-drawer>
  
    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
  
</mat-drawer-container>