.header-spacer {
    flex: 1 1 auto;
}
  .menu-item {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-left: 8px !important;
    border-radius: 8px !important;
    border-left: 2px solid transparent;
    color: inherit;
    margin-top: 10px;
  
    mat-icon {
      color: inherit;
      font-size: 44px;
      width: 48px;
      height: 48px;
    }
  }

  .menu-item:focus {
    outline: none !important;
  }

  .menu-item span[matListItemTitle] {
    font-size: 18px !important;
    font-weight: 300;
  }
  
  .selected-menu-item {
    border-left-color: var(--mat-sys-primary); // Pokaż aktywne podświetlenie na lewym pasku
    background: rgba(0, 0, 0, 0.05) !important; // Usunięcie tła
    color: var(--mat-sys-primary) !important; // Tekst w kolorze primary
  
    mat-icon {
      color: var(--mat-sys-primary) !important; // Ikona w kolorze primary
    }

    span[matListItemTitle] {
      color: var(--mat-sys-primary) !important; // Label w kolorze primary
    }

    &:focus, &:hover {
      background: rgba(0, 0, 0, 0.05) !important; // Zapobiega zmianie tła
      color: var(--mat-sys-primary) !important;
    }
  }

  mat-sidenav {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  
  h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
    border-bottom:1px solid var(--mat-sys-secondary-container);
}

mat-sidenav-container {
    height:100%;
}

mat-sidenav {
    padding-top: 3.5rem;
    border-right: 1px solid var(--mat-sys-secondary-container);
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    width: 100px;

    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }

  }

mat-sidenav-content{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.expanded {
    width: 300px;   
}